a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: stretch;
    font-family: "roboto", serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 18px 208px;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    margin: 18px 135px;
}

.links-list {
    display: flex;
    gap: 24px;
}

.top {
    background-color: #1f2937;
    display: flex;
    padding: 105px 205px;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
}

.info {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.image {
    background-color: grey;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.info-header {
    font-size: 48px;
    font-weight: bolder;
}

.info-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.signup-button {
    background-color: #3882f6;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

.mid {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 220px;
    gap: 25px;
}

.mid-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.mid-images {
    display: flex;
    margin-bottom: 100px;
}

.mid-image-block {
    display: flex;
    flex-direction: column;
}

.mid-image-img {
    margin: 10px 10px;
}

.mid-low {
    background-color: #e5e7eb;

}

.bot {
    background-color: white;
    margin-bottom: auto;
}

.footer {
    background-color: #1f2937;
}
