a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: stretch;
    font-family: "roboto", serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 18px 208px;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    margin: 18px 140px;
}

.links-list {
    display: flex;
    gap: 24px;
}

.top {
    background-color: aquamarine;
    display: flex;
    flex-grow: 1;
}

.mid {
    background-color: white;
}

.mid-low {
    background-color: #e5e7eb;

}

.bot {
    background-color: white;
    margin-bottom: auto;
}

.footer {
    background-color: #1f2937;
}
